# RPC URLs
BASE_MAINNET_RPC=https://mainnet.base.org
BASE_SEPOLIA_RPC=https://sepolia.base.org

# Deployer private key
PRIVATE_KEY=your_private_key_here

# Basescan API
BASESCAN_API_KEY=your_api_key

# Deployed contract addresses
NFT_ADDRESS=
ERC1155_ADDRESS=
MARKET_ADDRESS=

# Mint config
TOKEN_URI=ipfs://QmYourMetadata
